%div(data-role="page")
  %div(data-role="header")
    %h1
      Databases
    %a(href="/" data-role="button" data-transition="slideup" class="ui-btn-right")
      Create Database
  %div(data-role="content")
    %ul(data-role="listview" data-filter="true")
      -@databases.each do |database, _|
        %li
          %a(href="/database/#{database}")
            &=database
          %span{:class=>"ui-li-count"}
            =file_size(db(database))

  %div(data-role="footer")
