%div(data-role="page")
  %div(data-role="header")
    %h1
      Databases
  %div(data-role="content")
    %ul(data-role="listview" data-filter="true")
      -@databases.each do |database, _|
        %li
          %a(href="/database/#{database}")
            =database

  %div(data-role="footer")
