-hash.each do |key,value|
  -k = humanize(key)
  -v = humanize(value)
  %b
    -if key == "_type"
      %span.type_key
        &=k
    -elsif key == "_id"
      %span.pk_key
        &=k
    -elsif key =~ /_id$/
      %span.fk_key
        &=k
    -elsif key =~ /_at$/
      %span.date_key
        &=k
    -elsif ["name", "title"].include?(key)
      %span.name_key
        &=k
    -elsif key =~ /^_/
      %span.private_key
        &=k
    -else
      %span.normal_key
      &=k
    \=

  -if key == "_type"
    %span.type_value
      &=v
  -elsif key == "_id"
    %span.pk_value
      &=v
  -elsif key =~ /_id$/
    %span.fk_value
      &=v
  -elsif key =~ /_at$/
    %span.date_value
      &=v
  -elsif ["name", "title"].include?(key)
    %span.name_value
      &=v
  -elsif key =~ /^_/
    %span.private_value
      &=v
  -else
    %span.normal_value
    &=v
  %br<

